<html lang="{{ app.request.locale|default('') }}">
    <head>

    </head>
    <body>
        {{ 'security.registration.mail.body'|trans }}
        <br />
        <a href="{{ url('activation', { code: code }) }}" target="_blank">
            {{ 'security.registration.mail.link'|trans }}
        </a>
    </body>
</html>
