<ul>
    {% for model in eventModels %}
        <li>
            <span>{{ ('event.' ~ model ~ '.name')|trans }}</span>
            <span class="list-actions">
                <button data-form-url="{{ path('event_add', { id: sceneId, model: model }) }}"
                    class="btn btn-xs btn-success js-load-form"
                    title="{{ ('event.' ~ model ~ '.create')|trans }}"
                >
                    <span class="fa fa-plus"></span>
                </button>
            </span>
        </li>
    {%  endfor %}
</ul>
