{% extends 'displayBase.html.twig' %}

{% block seoTitle chapter.title %}

{% block body %}
    <h1 style="margin-bottom: 30px;" class="text-center">{{ chapter.title }}</h1>
    <div class="row">
        <div class="col-sm offset-sm-1 col-md-8 offset-md-2">
            {% for scene in chapter.scenes if scene.text|length %}
                <div class="display{% if loop.first %} show{% endif %}">
                    <h2 style="margin-bottom: 30px;" class="text-center">{{ scene.title }}</h2>
                    {{ scene.text|raw }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
