{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% form_theme sceneForm 'bootstrap_4_layout.html.twig' %}

{% block seoTitle 'chapter.seo_title.form.edit'|trans({ '%title%': title }) %}
{% block rightMenu %}
    {% include 'partial/topMenuActions.html.twig' with {
        returnUrl: bookId ? path('book_edit', { id: bookId }) : path('chapter_list'),
        returnLabel: bookId ? 'chapter.back.to_book'|trans : 'chapter.back.to_list'|trans,
        actions: [
            {
                url: path('chapter_display', { id: chapterId }),
                attributes: { target: '_blank', title: 'display.go_to'|trans },
                icon: 'fa fa-eye',
                label: 'display.label'|trans
            },
            {
                url: path('chapter_pdf', { id: chapterId }),
                attributes: { target: '_blank', title: 'pdf.render'|trans },
                icon: 'fa fa-file-pdf-o',
                label: 'pdf.label'|trans
            }
        ]
    } only %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                <div class="form-group">
                    <div class="col-sm-10 text-right">
                        <button class="btn btn-success pull-right">{{ 'crud.save'|trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div id="ajax-container"></div>
    {% embed 'partial/sideMenu.html.twig' %}
        {% block listContent %}
            {% include 'chapter/scenes/listHeader.html.twig' with {
                chapterId: chapterId,
                sceneForm: sceneForm
            } only %}
        {% endblock %}
    {% endembed %}
{% endblock %}
