var/cache/*
var/log/*
var/sessions/*
!var/cache/.gitkeep
!var/log/.gitkeep
!var/sessions/.gitkeep

# Parameters
.env
*-cache
*.cache

# Assets and user uploads
node_modules/
public/assets/
public/bundles/
public/uploaded*

# Composer PHAR
composer.phar

cypress/videos/*

.env
vendor
.web-server-pid
