# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
/app/config/parameters.yml

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/assets/vendor/
/node_modules/
/web/bundles/
/web/uploaded/
/web/uploaded_dev/
/web/uploaded_tst/
/web/public/

# Composer PHAR
/composer.phar

c3.php
