# Cache and logs (Symfony3)
var/cache/*
var/log/*
!var/cache/.gitkeep
!var/log/.gitkeep
!var/sessions/.gitkeep

# Parameters
.env
.phpcs-cache

# Assets and user uploads
node_modules/
public/assets/
public/bundles/
public/uploaded/
public/uploaded_dev/
public/uploaded_tst/

# Composer PHAR
composer.phar

c3.php
cypress/videos/*

.env
vendor

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
