{{ form_start(form) }}
    {{ form_row(form.title) }}
    <div class="form-group row">
        <div class="col text-right">
            <button class="btn btn-success pull-right">{{ 'crud.save'|trans }}</button>
        </div>
    </div>
{{ form_end(form) }}