{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-4">
            <a href="/plan" class="btn btn-success">
                {{ 'home.plan' | trans }}
            </a>
            <a href="{{ path('app_scene_new') }}" class="btn btn-info">
                {{ 'home.write' | trans }}
            </a>
        </div>
    </div>
    {% if books | length or chapters | length or scenes | length %}
        <br/>
        <h2>{{ 'home.dashboard.recently_added' | trans }}</h2>
        <div class="row">
            <div class="col-xs-4">
                {% if books | length %}
                    {% include 'base/partial/books.html.twig' %}
                {% endif %}
                {% if chapters | length %}
                    {% include 'base/partial/chapters.html.twig' %}
                {% endif %}
                {% if scenes | length %}
                    {% include 'base/partial/scenes.html.twig' %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
