{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-6">
            <a href="/plan" class="btn btn-success center-block">
                Stwórz plan
            </a>
        </div>
        <div class="col-xs-6">
            <a href="{{ path('app_scene_new') }}" class="btn btn-info center-block">
                Przejdź do pisania
            </a>
        </div>
    </div>
{% endblock %}
