{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-6">
            <a href="/plan" class="btn btn-success center-block">
                {{ 'home.plan' | trans }}
            </a>
        </div>
        <div class="col-xs-6">
            <a href="{{ path('app_standalone_scene_new') }}" class="btn btn-info center-block">
                {{ 'home.write' | trans }}
            </a>
        </div>
    </div>
{% endblock %}
