<div class="row">
    <div class="col-xs-12 text-right">
        <btn id="back-button" class="btn btn-default">{{ 'crud.back' | trans }}</btn>
        {% if scene.id %}
            <button class="btn btn-primary tag-add">{{ 'tag.add' | trans }}</button>
        {% endif %}
    </div>
</div>

