{% extends 'scene/base.html.twig' %}

{% block body %}
    {% include 'scene/standalone/actions.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button class="btn btn-primary">{{ 'crud.save' | trans }}</button>
        {{ form_end(form) }}
        </div>
    </div>
    {% include 'scene/characters/modal.html.twig' %}
    {% include 'scene/items/modal.html.twig' %}
    {% include 'scene/locations/modal.html.twig' %}
{% endblock %}
