#backdrop.active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}

.content-container {
    position: relative;

    #ajax-container {
        display: none;
        background-color: $body-bg;
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        min-height: 400px;
        z-index: 10;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        padding: 15px;

        &.active {
            display: block;
            animation-name: slide-in-modal;
            animation-duration: 0.7s;
            -webkit-animation-name: slide-in-modal;
            -webkit-animation-duration: 0.7s;
        }
    }

    #ajax-container.active + #form-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@-webkit-keyframes slide-in-modal {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes slide-in-modal {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
