#ajax-container {
    display: none;
    background-color: $white;
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    min-height: 400px;
    z-index: 99;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 15px;

    &.active {
        display: block;
        animation-name: slide-in-modal;
        animation-duration: 0.7s;
        -webkit-animation-name: slide-in-modal;
        -webkit-animation-duration: 0.7s;
    }
}

#ajax-container.active + #form-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 98;
}

#form-backdrop.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
}