ul.dropdown-menu {
    border-radius: 0;
    border: none;
    background-color: transparent;
    padding: 0;

    .btn {
        display: block;
        width: 100%;
    }
}

form .tab-pane {
    padding-top: 15px;
}

table {
    th:last-child, td:last-child {
        text-align: right;
    }
}
