@import 'paper/_variables';
@import 'sidemenu';

body {
    position: relative;
    min-height: 900px;
}

main {
    padding-bottom: 200px;
}

.navbar-default .navbar-nav > li.current > a {
    color: $brand-primary;
}

ul.dropdown-menu {
    border-radius: 0;
    border: none;
    background-color: transparent;
    padding: 0;

    .btn {
        display: block;
        width: 100%;
    }
}

form .tab-pane {
    padding-top: 15px;
}

table:not(.dashboard) {
    th:last-child, td:last-child {
        text-align: right;
    }
}

#backdrop.active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}

.content-container {
    position: relative;

    #ajax-container {
        display: none;
        background-color: $body-bg;
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        min-height: 400px;
        z-index: 10;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        padding: 15px;

        &.active {
            display: block;
        }
    }

    #ajax-container.active + #form-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        background-color: rgba(0, 0, 0, 0.6);
    }

    #clear-ajax {
        position: absolute;
        top: 35px;
        right: 30px;
        z-index: 11;
    }
}

.display {
    text-align: justify;

    & > p {
        text-indent: 25px;
    }
}

nav.navbar {
    z-index: 100;
}

.alert {
    position: fixed;
    text-align: center;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}
