ul.dropdown-menu {
    border-radius: 0;
    border: none;
    background-color: transparent;
    padding: 0;

    .btn {
        display: block;
        width: 100%;
    }
}

form .tab-pane {
    padding-top: 15px;
}

table:not(.dashboard) {
    th:last-child, td:last-child {
        text-align: right;
    }
}

#backdrop.active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
}
