.display {
    text-align: justify;
    display: none;

    &.show {
        display: block;
    }

    & > p {
        text-indent: 25px;
    }
}

h1, h2, h3 {
    margin-top: 30px;
    text-align: center;
}

.card {
    border: none;
}
