.modal-body {
    .tab-pane {
        padding: 10px;

        ol, ul {
            padding-left: 15px;
        }
    }

    h2 + h3,
    h2 + .scene-content,
    h3 + .scene-content,
    .scene-content + h2,
    .scene-content + h3 {
        margin-top: 30px;
    }
}
