nav.navbar {
    z-index: 100;
    border-bottom: 1px solid $gray-300;

    .navbar-nav {
        &.nav-actions {
            border-top: 1px solid $gray-500;
            margin-top: 15px;
            padding: 15px 0;

            @include media-breakpoint-up(md) {
                border-top: none;
                border-bottom: none;
                float: right;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.dropdown-toggle {
    margin-top: -1px;
}

ul.dropdown-menu {
    a {
        display: block;
        width: 100%;
    }
}
