$sidemenu-active-menu-bg: #f7f7f7;

.side-menu {
    background-color: $sidemenu-active-menu-bg;
    border-left: 1px solid $gray-300;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transition: width .1s linear;
    transform: translateZ(0) scale(1,1);
    -webkit-transition: width .1s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 97;
    padding-top: 65px;
    overflow: visible;
    width: 60px;

    @include media-breakpoint-up(md) {
        width: 225px;
    }

    ul {
        margin: 7px 0;
        display: block;
        padding: 0;

        li {
            position: relative;
            display: block;
            min-height: 35px;
            line-height: 35px;
            padding-left: 10px;

            .h4 {
                display: none;
                margin: 5px 0;
                @include media-breakpoint-up(md) {
                    display: inline-block;
                }

                form {
                    padding: 10px 10px 10px 0;
                }

                span:not(.fa) {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .fa.logo-icon {
                display: inline-block;
                width: 25px;
                height: 36px;
                text-align: center;
                vertical-align: middle;
                font-size: 20px;
                line-height: 26px;

                &.js-trigger-sidelist-mobile {
                    line-height: 35px;
                    margin-left: -10px;
                    width: 59px;
                }

                &:last-child {
                    bottom: 0;
                }
            }

            &.mobile-expanded {
                .fa.logo-icon {
                    background-color: $sidemenu-active-menu-bg;

                    & + .h4 {
                        display: inline-block;
                        position: absolute;
                        right: 60px;
                        top: 0;
                        height: 36px;
                        width: 200px;
                        margin-top: 0;
                        padding-left: 10px;
                        vertical-align: middle;
                        background-color: $sidemenu-active-menu-bg;
                        border: 1px solid $gray-300;
                        border-right: none;
                        padding-top: 3px;

                        @include media-breakpoint-up(md) {
                            width: 300px;
                        }

                        & + .js-list-container {
                            top: 36px;
                            border-right: none;
                        }
                    }
                }

                form {
                    background-color: $sidemenu-active-menu-bg;
                    border: 1px solid $gray-300;
                    border-top: none;
                    border-right: none;
                    margin-left: -10px;
                    padding: 10px;
                }
            }

            &.js-loaded {
                background-color: $sidemenu-active-menu-bg;

                .js-list-container {
                    position: absolute;
                    right: 60px;
                    top: 0;
                    width: 200px;
                    min-height: 150px;
                    background-color: $sidemenu-active-menu-bg;
                    border: 1px solid $gray-300;

                    @include media-breakpoint-up(md) {
                        width: 300px;
                    }

                    @include media-breakpoint-up(md) {
                        right: 225px;
                    }
                }
            }

            .js-ajax-pagination {
                min-height: 110px;
                padding-right: 10px;
            }

            & > a:not(.btn) {
                position: relative;
                display: table;
                border-collapse: collapse;
                border-spacing: 0;
                font-size: 14px;
                -webkit-transform: translateZ(0) scale(1,1);
                -webkit-transition: all .1s linear;
                transform:  translateZ(0) scale(1,1);
                transition: all .1s linear;
            }

            .sublist-label {
                display: block;
                min-width: 95px;

                &.no-results {
                    padding: 5px 8px 5px 10px;
                    line-height: 20px;
                }

                @include media-breakpoint-up(md) {
                    display: inline-block;
                }
            }

            .list-actions {
                display: block;
                text-align: left;

                @include media-breakpoint-up(md) {
                    float: right;
                    display: inline-block;
                    text-align: initial;
                }
            }
        }

        &.pagination {
            line-height: initial;
            padding: 0;
            margin: 0 10px 0 0;
            text-align: right;

            li {
                display: inline-block;
                line-height: 25px;
                padding: 0;

                & > a, span {
                    display: inline-block;
                    padding: 0 5px;
                    font-size: 16px;
                }
            }
        }
    }
}
