$sidemenu-active-menu-bg: #f7f7f7;
$sidemenu-shadow: inset 0px 0px 2px 0px $gray-light;

.side-menu {
    background: $body-bg;
    border-left: 1px solid $gray-light;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60px;
    overflow: hidden;
    transition: width .1s linear;
    transform: translateZ(0) scale(1,1);
    -webkit-transition: width .1s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 99;
    padding-top: 65px;
    overflow: visible;

    @media (min-width: $screen-md-min) {
        width: 225px;
    }

    ul {
        margin: 7px 0;
        display: block;
        padding: 0;

        li {
            position: relative;
            display: block;
            min-height: 35px;
            line-height: 35px;
            padding-left: 10px;

            .h4 {
                display: none;
                margin: 5px 0;
                @media (min-width: $screen-md-min) {
                    display: inline-block;
                }

                form {
                    padding: 10px 10px 10px 0;
                }
            }

            .fa.logo-icon {
                display: inline-block;
                width: 25px;
                height: 36px;
                text-align: center;
                vertical-align: middle;
                font-size: 20px;
                line-height: 26px;

                &.js-trigger-sidelist-mobile {
                    line-height: 35px;
                    margin-left: -10px;
                    width: 65px;
                }

                &:last-child {
                    bottom: 0;
                }
            }

            &.mobile-expanded {
                .fa.logo-icon {
                    background-color: $sidemenu-active-menu-bg;
                    -webkit-box-shadow: inset -1px 0px 2px 0px $gray-light;
                    -moz-box-shadow: inset -1px 0px 2px 0px $gray-light;
                    box-shadow: inset -1px 0px 2px 0px $gray-light;

                    & + .h4 {
                        display: inline-block;
                        position: absolute;
                        right: 60px;
                        top: 0;
                        height: 36px;
                        width: 250px;
                        margin-top: 0;
                        padding-left: 10px;
                        vertical-align: middle;
                        -webkit-box-shadow: inset 0px 0px 2px 0px $gray-light;
                        -moz-box-shadow: inset 0px 0px 2px 0px $gray-light;
                        box-shadow: inset 0px 0px 2px 0px $gray-light;
                        background-color: $sidemenu-active-menu-bg;
                        padding-top: 3px;

                        & + .js-list-container {
                            top: 36px;
                            -webkit-box-shadow: inset 1px -1px 1px 0px $gray-light;
                            -moz-box-shadow: inset 1px -1px 1px 0px $gray-light;
                            box-shadow: inset 1px -1px 1px 0px $gray-light;
                        }
                    }
                }

                form {
                    background-color: $sidemenu-active-menu-bg;
                    margin-left: -10px;
                    margin-top: 6px;
                    padding: 10px;
                    -webkit-box-shadow: inset 0px 0px 1px 0  $gray-light;
                    -moz-box-shadow: inset 0px 0px 1px 0  $gray-light;
                    box-shadow: inset 0px 0px 1px 0  $gray-light;
                }
            }

            &.js-loaded {
                background-color: $sidemenu-active-menu-bg;
                -webkit-box-shadow: $sidemenu-shadow;
                -moz-box-shadow: $sidemenu-shadow;
                box-shadow: $sidemenu-shadow;

                &.mobile-expanded .fa.logo-icon + .h4 {
                    -webkit-box-shadow: inset 1px 1px 2px 0px $gray-light;
                    -moz-box-shadow: inset 1px 1px 2px 0px $gray-light;
                    box-shadow: inset 1px 1px 2px 0px $gray-light;
                }

                .js-list-container {
                    position: absolute;
                    right: 60px;
                    top: 0;
                    width: 250px;
                    height: 150px;
                    -webkit-box-shadow: inset 1px 0px 2px 0px $gray-light;
                    -moz-box-shadow: inset 1px 0px 2px 0px $gray-light;
                    box-shadow: inset 1px 0px 2px 0px $gray-light;
                    background-color: $sidemenu-active-menu-bg;

                    @media (min-width: $screen-md-min) {
                        right: 225px;
                    }
                }
            }

            .js-ajax-pagination {
                height: 100px;
            }

            & > a:not(.btn) {
                position: relative;
                display: table;
                border-collapse: collapse;
                border-spacing: 0;
                font-size: 14px;
                -webkit-transform: translateZ(0) scale(1,1);
                -webkit-transition: all .1s linear;
                transform:  translateZ(0) scale(1,1);
                transition: all .1s linear;
            }

            .sublist-label {
                display: inline-block;
                min-width: 95px;
            }

            .list-actions {
                float: right;
                padding-right: 10px;
            }
        }

        &.pagination {
            line-height: initial;
            padding: 0;
            margin: 0 10px 0 0;
            text-align: right;
            box-shadow: none;

            li {
                display: inline-block;
                min-height: 15px;
                line-height: 15px;
                padding: 0;

                & > a, span {
                    display: inline-block;
                    padding: 0 5px;
                    font-size: 13px;
                }
            }
        }
    }
}
