$sidemenu-active-menu-bg: #f7f7f7;
$sidemenu-shadow: inset 0px 0px 2px 0px rgba(187,187,187,1);

.side-menu {
    background: $body-bg;
    border-left: 1px solid $gray-light;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60px;
    overflow: hidden;
    transition: width .1s linear;
    transform: translateZ(0) scale(1,1);
    -webkit-transition: width .1s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 99;
    padding-top: 65px;

    @media (min-width: $screen-md-min) {
        width: 225px;
        overflow: visible;
    }

    &.expanded {
        width: 225px;
        overflow: visible;
    }

    @media (max-width: $screen-md-min) {
        &:not(.expanded) {
            ul li *:not(.fa) {
                display: none;
            }
        }
    }

    .fa.logo-icon {
        display: inline-block;
        width: 25px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
        line-height: 26px;

        &:last-child {
            bottom: 0;
        }
    }

    ul {
        margin: 7px 0;
        display: block;
        padding: 0;

        li {
            position: relative;
            display: block;
            min-height: 35px;
            line-height: 35px;
            padding-left: 10px;

            &.loaded {
                background-color: $sidemenu-active-menu-bg;
                -webkit-box-shadow: $sidemenu-shadow;
                -moz-box-shadow: $sidemenu-shadow;
                box-shadow: $sidemenu-shadow;

                .js-list-container {
                    position: absolute;
                    right: 225px;
                    top: 0;
                    width: 250px;
                    height: 150px;
                    -webkit-box-shadow: $sidemenu-shadow;
                    -moz-box-shadow: $sidemenu-shadow;
                    box-shadow: $sidemenu-shadow;
                    background-color: $sidemenu-active-menu-bg;
                }
            }

            .js-ajax-pagination {
                height: 100px;
            }

            .h4 {
                display: inline-block;
                margin: 5px 0;
            }

            & > a:not(.btn) {
                position: relative;
                display: table;
                border-collapse: collapse;
                border-spacing: 0;
                font-size: 14px;
                -webkit-transform: translateZ(0) scale(1,1);
                -webkit-transition: all .1s linear;
                transform:  translateZ(0) scale(1,1);
                transition: all .1s linear;
            }

            .sublist-label {
                display: inline-block;
                min-width: 95px;
            }

            form {
                padding-right: 10px;
            }

            .list-actions {
                float: right;
                padding-right: 10px;
            }
        }

        &.pagination {
            line-height: initial;
            padding: 0;
            margin: 0 10px 0 0;
            text-align: right;
            box-shadow: none;

            li {
                display: inline-block;
                min-height: 15px;
                line-height: 15px;
                padding: 0;

                & > a, span {
                    display: inline-block;
                    padding: 0 5px;
                    font-size: 13px;
                }
            }
        }
    }
}
