.cursor-pointer {
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}

.full-width {
    display: block;
    width: 100%;
}

.mt-10 {
    margin-top: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.inline-block {
    display: inline-block;
}

.vam {
    vertical-align: middle;
}

button.btn *, .pagination a * {
    pointer-events: none;
}