<nav class="side-menu">
    <ul>
        {% block listContent '' %}
    </ul>
    <ul style="margin-top: 15px;" class="side-menu-toggle cursor-pointer" title="{{ 'side_menu.toggle_navigation'|trans }}">
        <li>
            <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>
        </li>
    </ul>
</nav>
