{% form_theme form 'form/form_theme.html.twig' %}

<div class="row">
    <div class="col-xs-12">
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="form-group text-right">
            <button class="btn btn-primary">{{ 'crud.save' | trans }}</button>
        </div>
    {{ form_end(form) }}
    </div>
</div>
