{% extends 'partial/backButton.html.twig' %}
{% block additionalActions %}
    <a href="{{ path('app_scene_display', { id: sceneId }) }}" class="btn btn-default" target="_blank" title="{{ 'display.go_to' | trans }}">
        <span class="fa fa-eye"></span>
        {{ 'display.label' | trans }}
    </a>
{% endblock %}
