{% extends 'base.html.twig' %}

{% block seo_title 'scene.header.edit' | trans({ '%title%': title }) %}

{% block top_menu_right %}
    {% include 'scene/actions.html.twig' with {
        returnUrl:chapterId ? path('app_chapter_edit', { id: chapterId }) : path('app_scene_list', { page: app.request.get('page') }),
        returnLabel: (chapterId ? 'scene.back.to_chapter' : 'scene.back.to_list') | trans
    } %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 content-container">
            {% include 'scene/form/editForm.html.twig' with { form: form } only  %}
            <div id="ajax-container"></div>
            <div id="form-backdrop"></div>
            <button id="clear-ajax" class="btn btn-danger pull-right" style="display: none;">
                <span class="fa fa-close"></span>
            </button>
        </div>
    </div>
    {% embed 'partial/sideMenu.html.twig'%}
        {% block listContent %}
            {% if chapterTitle and relatedScenes | length %}
                <li>
                    <span class="fa fa-book logo-icon"></span>
                    <span class="h4">{{ chapterTitle | truncate(10) }}</span>
                    <ul>
                        {% for relatedScene in relatedScenes %}
                            <li><a href="{{ path('app_scene_edit', { id: relatedScene.id }) }}">{{ relatedScene.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% include 'scene/characters/list.html.twig' with { sceneId: sceneId, chapterId: chapterId, characters: characters } only %}
            {% include 'scene/items/list.html.twig' with { sceneId: sceneId, chapterId: chapterId, items: items } only %}
            {% include 'scene/locations/list.html.twig' with { sceneId: sceneId, chapterId: chapterId, locations: locations } only %}
            {% include 'scene/events/list.html.twig' with { sceneId: sceneId, chapterId: chapterId, events: events, eventModels: eventModels } only %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block modals %}
    {% include 'partial/displayModal.html.twig' %}
{% endblock %}
