<li>
    <i class="fa fa-2x fa-book visible-xs visible-sm js-trigger-sidelist-mobile logo-icon cursor-pointer"
       title="{{ chapterTitle }}"
    ></i>
    <span class="h4">
        <button class="btn btn-xs btn-default js-list-toggle"
                data-list-url="{{ path('scene_related_list', { id: chapterId, page: 1 }) }}"
                title="{{ 'crud.list'|trans }}"
        >
            <span class="fa fa-list"></span>
        </button>
        <span>{{ chapterTitle|truncate(10) }}</span>
    </span>
    <span class="js-list-container"></span>
</li>

