<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block seoTitle 'meta.title'|trans %}</title>
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/main.css')) }}">
    </head>
    <body>
        <main class="container">
            {% block body '' %}
        </main>
    </body>
</html>
