<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/styles.css')) }}">
    </head>
    <body>
        <main class="container">
            {% block body '' %}
        </main>
    </body>
</html>
