<html lang="{{ app.request.locale }}">
    <head>

    </head>
    <body>
        {{ 'security.reset_password.mail.body'|trans }}
        <br />
        <a href="{{ url('reset_password_change', { code: code }) }}" target="_blank">
            {{ 'security.reset_password.mail.link'|trans }}
        </a>
    </body>
</html>
