{% extends 'displayBase.html.twig' %}

{% block seoTitle scene.title %}

{% block body %}
    <h1 style="margin-bottom: 30px;" class="text-center">{{ scene.title }}</h1>
    <div class="row">
        <div class="col-sm offset-sm-1 col-md-8 offset-md-2">
            <div class="display show">
                {{ scene.text|raw }}
            </div>
        </div>
    </div>
{% endblock %}
