{% extends 'base.html.twig' %}

{% import 'partial/macros.html.twig' as macros %}

{% block seoTitle 'scene.seo_title.form.edit'|trans({ '%title%': title }) %}
{% block rightMenu %}
    {% include 'partial/topMenuActions.html.twig' with {
        returnUrl: chapterId ? path('chapter_edit', { id: chapterId }) : path('scene_list', { page: app.request.get('page') }),
        returnLabel: (chapterId ? 'scene.back.to_chapter' : 'scene.back.to_list')|trans,
        actions: [
            {
                url: path('scene_pdf', { id: sceneId }),
                attributes: { target: '_blank', title: 'pdf.title'|trans },
                icon: 'fa fa-file-pdf-o',
                label: 'pdf.label'|trans
            }
        ]
    } only %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-10 offset-sm-1 col-md-8 offset-md-1 content-container">
            {% include 'scene/form/editForm.html.twig' with { form: form } only %}
            <div id="ajax-container"></div>
            <div id="form-backdrop"></div>
        </div>
    </div>
    <nav class="side-menu">
        <ul id="side-menu" class="collapse show">
            {% if chapterTitle is not null and relatedScenes|length > 0 %}
                {% include 'scene/related/listHeader.html.twig' with {
                    chapterTitle: chapterTitle,
                    chapterId: chapterId,
                    form: nextSceneForm
                } only %}
            {% endif %}
            {% include 'scene/characters/listHeader.html.twig' with { sceneId: sceneId, chapterId: chapterId } only %}
            {% include 'scene/items/listHeader.html.twig' with { sceneId: sceneId, chapterId: chapterId } only %}
            {% include 'scene/locations/listHeader.html.twig' with { sceneId: sceneId, chapterId: chapterId} only %}
            {% include 'scene/events/listHeader.html.twig' with { sceneId: sceneId, chapterId: chapterId } only %}
            {{ macros.sidemenuLink('eye', 'display.title'|trans, 'display.label'|trans, path('scene_display', { id: sceneId })) }}
            {{ macros.sidemenuLink('file-pdf-o', 'pdf.title'|trans, 'pdf.label'|trans, path('scene_pdf', { id: sceneId })) }}
        </ul>
        <div data-target="#side-menu" data-toggle="collapse" class="text-center">
            <button class="btn btn-sm" style="width: 100%;">
                <span class="fa fa-chevron-up"></span>
            </button>
        </div>
    </nav>
{% endblock %}

{% block modals %}
    {% include 'partial/displayModal.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/ckeditor.css')) }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ absolute_url(asset('assets/ckeditor.js')) }}" async></script>
{% endblock %}
