<li class="js-list js-ajax-pagination">
    <span class="fa fa-book logo-icon" title="{{ chapterTitle }}"></span>
    <span class="h4">{{ chapterTitle|truncate(10) }}</span>
    {% include 'partial/pagination.html.twig' with { paginator: scenes, route: 'scene_related_list', parameters: { id: chapterId, page: page }} only %}
    <ul>
        {% for scene in scenes %}
            <li><a href="{{ path('scene_edit', { id: scene.id }) }}">{{ scene.title }}</a></li>
        {% endfor %}
    </ul>
</li>
