<div class="row">
    <div class="col-xs-12 text-right">
        <a href="{{ path('app_chapter_list') }}" class="btn btn-default">
            {{ 'crud.back' | trans }}
        </a>
    </div>
</div><br/>
<div class="row">
    {% if chapter.id %}
        <div class="col-xs-offset-10 col-xs-2 text-right">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ 'crud.actions' | trans }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>{#
                        <button class="btn btn-default modal-toggle" data-target="#scene-modal">
                            {{ 'chapter.scenes' | trans }}
                       </button>#}
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
</div>
