{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'dashboard/partial/books.html.twig' %}
        {% include 'dashboard/partial/chapters.html.twig' %}
        {% include 'dashboard/partial/scenes.html.twig' %}
    </div>
{% endblock %}
