{% set types = { success: 'success', warning: 'warning', error: 'danger' } %}
{% for type, messages in app.flashes %}
    <div class="alert alert-dismissible alert-{{ types[type] }}" role="alert">
        {%- for message in messages -%}
            <div>
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'alert.close'|trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {%- endfor -%}
    </div>
{% endfor %}
