<nav class="side-menu">
    <ul id="side-menu" class="collapse show">
        {% block content '' %}
    </ul>
    <div data-target="#side-menu" data-toggle="collapse" class="text-center">
        <button class="btn btn-sm" style="width: 100%;">
            <span class="fa fa-chevron-up"></span>
        </button>
    </div>
</nav>
<div id="ajax-container"></div>
<div id="form-backdrop"></div>