<nav class="side-menu">
    <ul id="side-menu" class="collapse">
        {% block content '' %}
    </ul>
    <div data-target="#side-menu" data-toggle="collapse" class="text-center">
        <button class="btn btn-sm" style="width: 100%;">
            <span class="fa fa-chevron-down"></span>
        </button>
    </div>
</nav>
