<fieldset>
    <span>{{ 'tags.label' | trans }}</span>
    <button class="tag-add">{{ 'tags.add' | trans }}</button>
    <button class="tag-edit">{{ 'tags.edit' | trans }}</button>
    <button class="tag-delete">{{ 'tags.delete' | trans }}</button>
</fieldset>
