<table class="table table-borderless table-sm">
    <tbody>
        {% if 0 != list|length %}
            {% for item in list %}
                <tr>
                    <td>
                        <button class="btn btn-outline-secondary btn-block js-list-action"
                                data-action-url="{{ path(type ~ '_add_to_scene', { scene_id: sceneId, id: item.id }) }}"
                                title="{{ (type ~ '.actions.add_to_scene')|trans({ '%scene%': sceneTitle }) }}"
                                >
                            {{ item }}
                            <span class="fa fa-2x fa-plus float-right text-success"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td>{{ (type ~ '.related_list.no_results')|trans }}</td></tr>
        {% endif %}
    </tbody>
</table>
